<div id="main-page-container">
    <video autoplay loop muted preload class="fullscreen-bg_video">
        <source src="/assests/video/Circuit_Background.mp4" type="video/mp4">
    </video>
    <div class="row" id="main-page-content-row">
        <div class="col s1 m1 l1 xl2" id="left-bar-main">
        </div>
        <div class="col s10 m10 l10 xl8" id="main-page-content">
            <h1 id="main-page-title">s<span id="o">0</span>cial3r</h1>
            <div class="col s12 m12 l12 xl10 offset-xl1" id="card-col">
                <div class="card" id="login-card">
                    <div class="card-content white-text" id="card-content">

                        <div class="row" id="sign-in-row">
                            <form id="signin" name="signin" method="post" action="signin">
                                <label for="email" id="login-email-label">Email Address</label>
                                <input class="text" name="email" type="text" id="email" />
                                <label for="password" id="login-password-label">Password</label>
                                <input name="password" type="password" id="password"/>
                                <input class="btn" type="submit" value="Sign In" id="sign-in-button"/>
                            </form>

                            <h1 id="message-headline"> {{messages.error}}</h1>
                            <h1 id="message-headlinegood"> {{messages.info}}</h1>

                        </div>
                    </div>
                    <div class="row">
                        <div class="card-action" id="login-card-links">
                            <button type="submit" id="register">REGISTER</button>
                            {{!-- <button type="submit" id="forgot-password">FORGOT PASSWORD</button> --}}
                            <a href="/forgot" id="forgot-password">Forgot password</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s1 m1 l1 xl2" id="right-bar-main">
        </div>
    </div>
</div>